/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/*
/vendor
.env
.env.*
!.env.example
!.env.testing.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed


# Ignore files ending with _bck anywhere in the project
*_bck*
*_bck*/
